@import "styles/mixins.scss";
@import "styles/fonts.scss";

:root {
  --light-text: #ebebeb;
  --dark-text: #202020;
  --accent-color: #5f2deb;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", "Fira Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

html, body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  color: var(--accent-color);
}

h2 {
  font-size: 44px;
  font-weight: 600;
}

h3 {
  font-size: 34px;
  font-weight: 400;
}

h4 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3px;
}

p, div, a, img, input {
  font-size: 20px;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  &:focus { outline: none; }
  &:active { outline: none; }
}

button {
  cursor: pointer;
  display: inline-block;
  margin: 20px;
  background: #F0F0F0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
}